#encoding UTF-8
#import zoo
#encoding UTF-8
#from Skeleton_bs import Skeleton_bs
#extends Skeleton_bs 


#def page_title
MapMint: "Visualize"
#end def

#def body
<h1> Testing! File replaced with visualize_bs.tmpl </h1> 
#end def